@page "/"
@inject NavigationManager NavigationManager;

    <div class="section">
        <div class="ownerbox">
            <div class="avatarbox">
                <Avatar Size="240" Src="/images/avatar.jpeg"></Avatar>
            </div>
            <div class="namebox">FourEleven</div>
        </div>
       <div class="intention">
        @Sentence<br />
        <Button Type="@ButtonType.Primary" Size="@ButtonType.Default" style="margin-top: 20px"  @onclick="Author">关于作者</Button>  

        <Button Type="@ButtonType.Primary" Size="@ButtonType.Default" style="margin-top: 20px"  @onclick="Photo">图集</Button>  

        <Button Type="@ButtonType.Primary" Size="@ButtonType.Default" style="margin-top: 20px"  @onclick="GoMusic">网易云入口</Button> 
        </div>   
    </div>

@code{

    private string Sentence="夏日夜空繁星般的遐想";

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private void Author()
    {
        NavigationManager.NavigateTo("author");
    }

    private void Photo()
    {
        NavigationManager.NavigateTo("photo");
    }

    private void GoMusic()
    {
        NavigationManager.NavigateTo("music/login");
    }
}
